<!DOCTYPE html>
    <head>
        <title>Daniel Dashboard</title>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script   src="https://code.jquery.com/jquery-3.7.1.min.js"   integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="   crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Ops, si è rotto qualcosa</h1>
        </script>
    </body>    
</html>