{% extends "base.html" %}
{% block content %}

        <!-- Upload Area -->
        <form id="uploadForm" method="post" action="/success" class="upload-area">
            <!-- Header -->
            <div class="upload-area__header">
            <h1 class="upload-area__title">Carica il tuo file per gli ordini</h1>
            <p class="upload-area__paragraph">
                Il file deve essere un Excel
                <span class="upload-area__tooltip-data"></span> <!-- Data Will be Comes From Js -->
                </strong>
            </p>
            </div>
            <!-- End Header -->

            <!-- Drop Zoon -->
            <div id="dropZoon" class="upload-area__drop-zoon drop-zoon">
                <span class="drop-zoon__icon">
                    <i class='bx bxs-file-image'></i>
                </span>
                <p class="drop-zoon__paragraph">Trascina il file qui o clicca per sfogliare</p>
                <span id="loadingText" class="drop-zoon__loading-text">Please Wait</span>
                <input type="file" name="file" id="fileInput" class="drop-zoon__file-input" >
            </div>
            <!-- End Drop Zoon -->

            <!-- File Details -->
            <div id="fileDetails" class="upload-area__file-details file-details">
            <h3 class="file-details__title">File caricato</h3>

            <div id="uploadedFile" class="uploaded-file">
                <div class="uploaded-file__icon-container">
                <i class='bx bxs-file-blank uploaded-file__icon'></i>
                <span class="uploaded-file__icon-text"></span> <!-- Data Will be Comes From Js -->
                </div>

                <div id="uploadedFileInfo" class="uploaded-file__info">
                <span class="uploaded-file__name">Progetto 1</span>
                <span class="uploaded-file__counter">0%</span>
                </div>
            </div>
            </div>
            <!-- End File Details -->
            <input id="load-button" type = "submit" value="Invia i reminder">

        </form>
        <!-- End Upload Area -->
        <script src="{{ url_for('static', filename='script.js') }}"></script>

{% endblock content %}
