{% extends "base.html" %}
{% block content %}
<div class="dialog-container">
    <div class="dialog-wrapper">
        <button data-dialog="dialog-1">Template SMS</button>
        <dialog id="dialog-1">
            <h3><center>Modifica il template degli SMS</center></h3>
            <p>Utilizzare %CLIENTE per indicare il posto in cui ci sarà il nome del cliente, e %DATA per indicare il posto in cui inserire la data dell'ordine</p>
            <textarea id="sms-template">{{ sms_template }}</textarea>
            <button class="cancel closeDialog">Annulla</button>
            <button id="submit" class="submit">Cambia template</button>
        </dialog>
<!--
        <button data-dialog="dialog-2">Foto del profilo</button>
        <dialog id="dialog-1">
            <textarea id="sms-template">{{ sms_template }}</textarea>
            <button class="cancel closeDialog">Annulla</button>
            <button id="submit" class="submit">Cambia template</button>
        </dialog>
        <button data-dialog="dialog-3">Notifiche Errori</button>
        <dialog id="dialog-1">
            <textarea id="sms-template">{{ sms_template }}</textarea>
            <button class="cancel closeDialog">Annulla</button>
            <button id="submit" class="submit">Cambia template</button>
        </dialog>
-->
    </div>
</div>

<script   src="static/settings.js"></script>

{% endblock content %}
